openapi: 3.1.0
info:
  title: Clomni Mobile API
  version: 1.0.0
  summary: The API the Clomni Messenger SDKs (Android, iOS) talk to.
  description: |
    One App SDK inbox in Clomni = one app. The SDK opens a session with the app's public keys, then sends messages over
    REST and receives everything else over one WebSocket.

    **Rules every endpoint follows**
    - Every request carries `X-Clomni-SDK: <platform>/<version>`, e.g. `android/1.0.0`.
    - Ids are prefixed strings (`conv_`, `msg_`, `usr_`, `upl_`, `flw_`, `frm_`). Clients never parse them or sort by
      them; messages are ordered by `seq`.
    - Times are UTC, ISO 8601.
    - Within `/v1` only additions are made: a new field, message type, event or endpoint. A field is never removed,
      renamed or retyped. Clients skip unknown fields and show an unknown message type through its `fallback_text`.
      `/v1` is supported for at least 36 months; an endpoint due to go away answers with `Deprecation` and `Sunset`
      headers first.
    - An SDK older than the oldest one still supported for its platform gets the same headers on every answer:
      `Deprecation: @<epoch seconds>` (RFC 9745: when it stopped being supported), `Sunset: <HTTP date>` (RFC 8594)
      when the date is set, and
      `Link: <https://…>; rel="deprecation"`. The SDK logs them for the developer; nothing changes for the user.
    - Errors share one body (`Error`), every error of every endpoint, including an unknown path (`404 not_found`), a
      method the path does not take (`405 method_not_allowed`, with `Allow`), a body over 1 MB outside `/uploads`
      (`413 payload_too_large`) and a request that took too long (`503 internal`). `request_id` is the response's
      `X-Request-Id`. A `5xx` is retried with exponential backoff, at most 3 times.
    - Limits: 30 messages and 10 uploads per minute per user, 600 new sessions per minute per app. Over the limit:
      `429 rate_limited` with `Retry-After`.

    **Realtime**

    `GET wss://app.clomni.ai/v1/realtime?token=<session_token>&protocol=v1` (the session response's `ws_url`).
    The socket only receives, apart from `ping`/`pong`. Every frame is `{event, data, ts}` and is described in
    [schema/event.json](schema/event.json): `ready`, `message.created`, `message.updated`, `typing`, `read`,
    `conversation.updated`, `unread.changed`, `config.changed`, `flow.completed` (a flow ended or handed over: the SDKs'
    `onFlowCompleted`). Unknown events are ignored. On `ready` and after every
    reconnect (1, 2, 4, 8 … 30 s) the client fills gaps with `GET /conversations/{id}/messages?after_seq=<last>`; a gap
    in `seq` (40 → 42) is filled the same way. A message that arrives over both REST and the socket is de-duplicated by
    `id`. Two missed pings mean the connection is gone. While the app is in the background the socket is closed and
    replies arrive as push notifications ([schema/push.json](schema/push.json)).

    - The token is checked before the upgrade: unknown or ended `401 invalid_token`, expired `401 token_expired` (refresh
      and reconnect), a `protocol` other than `v1` `400`, an app switched off `403 app_disabled`; the body is `Error`.
    - `ready {user_id, heartbeat_sec}` comes once the socket is subscribed: nothing published after it is missed.
    - The server sends `{"event":"ping","ts"}` every `heartbeat_sec` (25); the app answers `{"event":"pong","ts"}`. Two
      heartbeats without a frame from the app and the server closes the socket.
    - The app may send `pong` and `typing {conversation_id, state}` only
      ([schema/realtime-client.json](schema/realtime-client.json)); anything else is ignored. Frames: at most 4 KB.
    - At most 5 sockets per user at once; a sixth closes the oldest.
    - Close codes: `1001` the server is restarting, or the app stopped answering pings (reconnect);
      `1008` closed for a newer socket of the same user; `1009` a frame over 4 KB; `4401` the session ended (logout,
      a refresh token used twice, the app's API key revoked) - open a new session, then reconnect.
  contact:
    name: Clomni
    url: https://clomni.ai
servers:
  - url: https://app.clomni.ai/v1
security:
  - session: []
tags:
  - name: Panel push keys
    description: |
      Not part of the Mobile API: the dashboard API (my.clomni.co, the administrator's own login) where the panel
      uploads the app's push keys and sends a test push. Listed here because the SDK's push setup depends on it.
  - name: Session
    description: Log in with the app's public keys, refresh, log out.
  - name: Config
    description: Colours, texts and limits of the Messenger.
  - name: Conversations
    description: The user's conversations.
  - name: Messages
    description: History, sending, read receipts and typing.
  - name: Uploads
    description: Files and images sent as attachments.
  - name: User
    description: The current user's profile.
  - name: Devices
    description: Push tokens.
  - name: Flows and events
    description: Flows started by the app, and events for audiences.

paths:
  /api/v1/accounts/{account_id}/inboxes/{inbox_id}/app_sdk/push:
    servers:
      - url: https://my.clomni.co
    parameters:
      - { name: account_id, in: path, required: true, schema: { type: integer } }
      - { name: inbox_id, in: path, required: true, schema: { type: integer } }
    get:
      tags: [Panel push keys]
      operationId: getPushKeys
      summary: What push keys are uploaded (never the keys), and the last 7 days' pushes
      security: []
      responses:
        '200':
          description: The public part of each provider's keys and the counts
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PanelPushState' }
        '401': { description: Not an administrator of the account }
        '404': { description: Not an App SDK inbox }
  /api/v1/accounts/{account_id}/inboxes/{inbox_id}/app_sdk/push/{provider}:
    servers:
      - url: https://my.clomni.co
    parameters:
      - { name: account_id, in: path, required: true, schema: { type: integer } }
      - { name: inbox_id, in: path, required: true, schema: { type: integer } }
      - { name: provider, in: path, required: true, schema: { type: string, enum: [fcm, apns] } }
    put:
      tags: [Panel push keys]
      operationId: uploadPushKeys
      summary: Upload a Firebase service account (fcm) or an APNs .p8 key (apns)
      description: |
        fcm takes `service_account` (the JSON Google gives, as a string or an object; project_id, client_email and an
        RSA private_key are required). apns takes `key_p8` (the .p8 file's text, an EC private key), `key_id` and
        `team_id` (10 letters or digits) and `bundle_id` (the inbox's iOS bundle id when left out). The keys are kept
        encrypted and never answered back.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                service_account: {}
                key_p8: { type: string }
                key_id: { type: string }
                team_id: { type: string }
                bundle_id: { type: string }
      responses:
        '200':
          description: Uploaded
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PanelPushState' }
        '422':
          description: 'The keys cannot work: field -> reason'
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors: { type: object, additionalProperties: { type: string } }
    delete:
      tags: [Panel push keys]
      operationId: removePushKeys
      summary: Remove the provider's keys
      security: []
      responses:
        '200':
          description: Removed
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PanelPushState' }
        '404': { description: Not an App SDK inbox }
  /api/v1/accounts/{account_id}/inboxes/{inbox_id}/app_sdk/push/test:
    servers:
      - url: https://my.clomni.co
    parameters:
      - { name: account_id, in: path, required: true, schema: { type: integer } }
      - { name: inbox_id, in: path, required: true, schema: { type: integer } }
    post:
      tags: [Panel push keys]
      operationId: testPush
      summary: Push one device of the inbox now
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [device_id]
              properties:
                device_id: { type: integer }
      responses:
        '200':
          description: 'What FCM or APNs answered: delivered, or why not, in its own words'
          content:
            application/json:
              schema:
                type: object
                required: [delivered, outcome]
                properties:
                  delivered: { type: boolean }
                  outcome: { type: string, enum: [sent, dead, retry, failed, keys, skipped, no_token] }
                  error: { type: [string, 'null'] }
        '404': { description: No such device in the inbox }
  /mobile/sessions:
    post:
      tags: [Session]
      operationId: createSession
      summary: Open a session for a user or an anonymous visitor
      description: |
        Identified user: send `user` with `user_hash = hex(HMAC-SHA256(identity_secret, user_id))`, lower case. Without a
        `user_id` the hash is taken over the email, lower-cased and trimmed. The comparison is constant-time.

        The inbox's identity mode decides what the hash means. `off` ignores it. `recommended`: a hash that is sent must
        be right, for a new user too, or the answer is `403 identity_verification_failed`; without a hash the user is
        accepted unverified, unless they have logged in verified before. `enforced`: a missing or wrong hash is
        `403 identity_verification_failed`.

        Anonymous visitor: omit `user`. The server creates an anonymous user and returns its id. Sending that id back as
        `anonymous_id` on a later session resumes the same user, but only from the device that created it
        (`device.device_id`); otherwise a new anonymous user is created. Logging in afterwards (`user` + `anonymous_id`)
        merges the anonymous user's conversations into the identified user.
      security:
        - app_id: []
          api_key: []
      parameters:
        - $ref: '#/components/parameters/Sdk'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SessionRequest'
            examples:
              identified:
                value:
                  user:
                    user_id: '12345'
                    email: aysel@example.com
                    phone: null
                    user_hash: 9b1c4d0e2f3a5b6c7d8e9f00112233445566778899aabbccddeeff0011223344
                  device:
                    device_id: d_7f3e2a91
                    platform: android
                    os_version: '14'
                    app_version: 3.2.1
                    sdk_version: 1.0.0
                    locale: az-AZ
                    timezone: Asia/Baku
                    model: SM-A546
                    app_identifier: az.apar.app
              anonymous:
                value:
                  device:
                    device_id: d_7f3e2a91
                    platform: ios
                    os_version: '17.5'
                    app_version: 3.2.1
                    sdk_version: 1.0.0
                    locale: az-AZ
                    timezone: Asia/Baku
                    model: iPhone15,2
      responses:
        '201':
          description: Session opened
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Session'
        '400':
          $ref: '#/components/responses/ValidationFailed'
        '401':
          $ref: '#/components/responses/InvalidApiKey'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
    delete:
      tags: [Session]
      operationId: deleteSession
      summary: Log out
      description: Ends the session and removes this device's push token, so the next user of the device gets no pushes
        meant for this one. The SDK also clears its local cache.
      parameters:
        - $ref: '#/components/parameters/Sdk'
      responses:
        '204':
          description: Logged out
        '401':
          $ref: '#/components/responses/Unauthorized'

  /mobile/sessions/refresh:
    post:
      tags: [Session]
      operationId: refreshSession
      summary: Exchange a refresh token for a new session
      description: Called when a request answers `401 token_expired`; the original request is then repeated once. The
        refresh token is single-use, the response carries the next one.
      security:
        - app_id: []
          api_key: []
      parameters:
        - $ref: '#/components/parameters/Sdk'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refresh_token]
              properties:
                refresh_token:
                  type: string
                  pattern: '^rt_.+'
            example:
              refresh_token: rt_4c1e7a0b9d2f
      responses:
        '201':
          description: New session
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Session'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /mobile/config:
    get:
      tags: [Config]
      operationId: getConfig
      summary: Messenger settings
      description: |
        The Messenger's look as last published in the panel (`version`), in one language: brand and its colours for
        light and dark mode (worked out by the server), images, team, Home cards and channels, all texts, limits. The
        SDK keeps the last answer on disk, uses it at once on the next launch and checks it in the background with
        `If-None-Match`; the ETag changes with the version, the language and what the server adds (team avatars,
        `open_now`). A `config.changed` event on the socket (`{etag, version}`) means it is time to fetch again; the
        panel's unpublished draft never reaches the apps.
      parameters:
        - $ref: '#/components/parameters/Sdk'
        - name: lang
          in: query
          description: Language of `strings` and the greeting. Defaults to the user's language; a language the panel turned off (or none) answers in `languages.default`.
          schema:
            $ref: '#/components/schemas/Language'
        - name: If-None-Match
          in: header
          schema:
            type: string
      responses:
        '200':
          description: Current settings
          headers:
            ETag:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: './schema/config.json'
        '304':
          description: Unchanged since the given ETag
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /news:
    get:
      tags: [Config]
      operationId: getNews
      summary: Published news
      description: |
        The channel's published news in the panel's order, in one language; an item without that language comes in
        az. Home shows the first three as the news card, and no card when there are none. Cached like the config:
        keep the answer, send `If-None-Match`. Opening an item is recorded with `POST /events`
        (`{"event": "news_opened", "data": {"news_id": "news_12"}}`).
      parameters:
        - $ref: '#/components/parameters/Sdk'
        - name: lang
          in: query
          description: Language of the texts. Defaults to the user's language.
          schema:
            $ref: '#/components/schemas/Language'
        - name: If-None-Match
          in: header
          schema:
            type: string
      responses:
        '200':
          description: Published news
          headers:
            ETag:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: './schema/news.json'
        '304':
          description: Unchanged since the given ETag
        '400':
          $ref: '#/components/responses/ValidationFailed'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /images/{id}:
    get:
      tags: [Config]
      operationId: getImage
      summary: An image of the config, in the size asked for
      description: |
        Every image URL in the config (logo, header picture, bot and team avatars) is this endpoint. It answers with a
        redirect to the picture at the width asked for, in WebP or PNG; the SDK picks the nearest size not smaller than
        it needs for the screen density (a 28 pt logo at @3x: 96). No session and no SDK header needed, so an image
        loader can fetch it as is.
      security: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            pattern: '^img_[A-Za-z0-9]+$'
        - name: w
          in: query
          description: 48, 96 or 144 for a logo or avatar; 360, 720 or 1080 for the header picture. The largest when left out.
          schema:
            type: integer
        - name: format
          in: query
          schema:
            type: string
            enum: [webp, png]
            default: png
      responses:
        '302':
          description: To the picture
          headers:
            Location:
              schema:
                type: string
                format: uri
        '400':
          $ref: '#/components/responses/ValidationFailed'
        '404':
          description: No such image
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /conversations:
    get:
      tags: [Conversations]
      operationId: listConversations
      summary: The user's conversations, newest first
      parameters:
        - $ref: '#/components/parameters/Sdk'
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 20
        - name: cursor
          in: query
          description: '`next_cursor` of the previous page.'
          schema:
            type: string
      responses:
        '200':
          description: One page
          content:
            application/json:
              schema:
                type: object
                required: [conversations, next_cursor]
                properties:
                  conversations:
                    type: array
                    items:
                      $ref: '#/components/schemas/Conversation'
                  next_cursor:
                    type: [string, 'null']
        '400':
          $ref: '#/components/responses/ValidationFailed'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      tags: [Conversations]
      operationId: createConversation
      summary: Start a conversation
      description: |
        Starts the inbox's "new conversation" flow. Its first bot messages are in the response; the rest arrive over
        the socket.

        Idempotent with a `client_id` (the app's own id for this start, made once and kept with the queued first
        message): the same session (its chain, which a refresh keeps) and the same `client_id` again - a retry after a
        lost answer, or two requests at once - start nothing new and answer the conversation the first one made, with
        200. Without a `client_id` every request starts a new conversation.
      parameters:
        - $ref: '#/components/parameters/Sdk'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                opened_from:
                  $ref: '#/components/schemas/OpenedFrom'
                client_id:
                  type: string
                  minLength: 1
                  maxLength: 64
                  description: Makes the request idempotent within the session. A UUID is a good one.
            example:
              opened_from: profile_support
              client_id: 3b7e0c1a-5f2d-4c8e-9a6b-2d1f0e9c8b7a
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationWithMessages'
        '200':
          description: This session's client_id already started a conversation; it is answered again, nothing new is made
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationWithMessages'
        '400':
          $ref: '#/components/responses/ValidationFailed'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'

  /conversations/{conversation_id}:
    get:
      tags: [Conversations]
      operationId: getConversation
      summary: One conversation
      parameters:
        - $ref: '#/components/parameters/Sdk'
        - $ref: '#/components/parameters/ConversationId'
      responses:
        '200':
          description: The conversation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conversation'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/ConversationNotFound'

  /conversations/{conversation_id}/messages:
    get:
      tags: [Messages]
      operationId: listMessages
      summary: Message history
      description: Without `before_seq`/`after_seq` the latest page. `before_seq` pages back in time; `after_seq` fills a
        gap after a reconnect. Messages are sorted by `seq`, ascending.
      parameters:
        - $ref: '#/components/parameters/Sdk'
        - $ref: '#/components/parameters/ConversationId'
        - name: before_seq
          in: query
          schema:
            type: integer
            minimum: 1
        - name: after_seq
          in: query
          schema:
            type: integer
            minimum: 0
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
      responses:
        '200':
          description: One page
          content:
            application/json:
              schema:
                type: object
                required: [messages, has_more]
                properties:
                  messages:
                    type: array
                    items:
                      $ref: './schema/message.json'
                  has_more:
                    type: boolean
        '400':
          $ref: '#/components/responses/ValidationFailed'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/ConversationNotFound'
    post:
      tags: [Messages]
      operationId: sendMessage
      summary: Send a message or answer a flow step
      description: |
        Always with a `client_id` (UUID v4); the server never handles one `client_id` twice, so a retry after a lost
        connection answers with the message already created. The response is the user's own message (for a
        `button_reply` its text is the button's title); the flow's next messages arrive over the socket.

        A `button_reply` or `form_submit` is checked against the conversation: an answer to a message that is no
        longer the latest interactive one is `409 stale_interaction`, a second answer to the same message is
        `409 already_answered`. On a 409 the client disables the buttons and reloads the message.

        A `text` or `attachment` may answer an earlier message: `content.reply_to` is its id. The panel shows it as
        a reply, and the message comes back with `reply_to {id, sender, excerpt, kind}`, as does an operator's
        reply from the panel. A message the user cannot see or that does not exist is `400` with
        `fields.reply_to: invalid`.
      parameters:
        - $ref: '#/components/parameters/Sdk'
        - $ref: '#/components/parameters/ConversationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './schema/client-message.json'
            examples:
              text:
                value:
                  client_id: 6f1c2c8e-1b2a-4c3d-8e9f-0a1b2c3d4e5f
                  type: text
                  content:
                    text: Gedişim bitmədi, pul çıxılmağa davam edir
              text_reply:
                value:
                  client_id: 0b7d4f2e-9a61-4c8b-b3f0-5e2d1a7c6b94
                  type: text
                  content:
                    text: Bəli, kartla ödəmişdim
                    reply_to: msg_f65
              button_reply:
                value:
                  client_id: 9a8b7c6d-5e4f-4a3b-8c2d-1e0f9a8b7c6d
                  type: button_reply
                  content:
                    reply_to: msg_8f21
                    button_id: b1
                    payload: set_lang:az
      responses:
        '201':
          description: The user's message
          content:
            application/json:
              schema:
                $ref: './schema/message.json'
        '400':
          $ref: '#/components/responses/ValidationFailed'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/ConversationNotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/RateLimited'

  /conversations/{conversation_id}/read:
    post:
      tags: [Messages]
      operationId: markRead
      summary: The user has seen messages up to a seq
      parameters:
        - $ref: '#/components/parameters/Sdk'
        - $ref: '#/components/parameters/ConversationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [up_to_seq]
              properties:
                up_to_seq:
                  type: integer
                  minimum: 0
            example:
              up_to_seq: 12
      responses:
        '204':
          description: Recorded
        '400':
          $ref: '#/components/responses/ValidationFailed'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/ConversationNotFound'

  /conversations/{conversation_id}/typing:
    post:
      tags: [Messages]
      operationId: setTyping
      summary: The user is typing
      description: At most once every 3 seconds while typing, and `off` when the user stops.
      parameters:
        - $ref: '#/components/parameters/Sdk'
        - $ref: '#/components/parameters/ConversationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [state]
              properties:
                state:
                  enum: ['on', 'off']
            example:
              state: 'on'
      responses:
        '204':
          description: Forwarded to the operator
        '400':
          $ref: '#/components/responses/ValidationFailed'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/ConversationNotFound'

  /uploads:
    post:
      tags: [Uploads]
      operationId: upload
      summary: Upload a file before sending it
      description: Images up to 10 MB (the SDK scales them to at most 2048 px first), other files up to 25 MB. The
        returned `upload_id` is then sent as an `attachment` message.
      parameters:
        - $ref: '#/components/parameters/Sdk'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  contentMediaType: application/octet-stream
      responses:
        '201':
          description: Stored
          content:
            application/json:
              schema:
                type: object
                required: [upload_id, url, name, size, mime]
                properties:
                  upload_id:
                    type: string
                    pattern: '^upl_.+'
                  url:
                    type: string
                    format: uri
                  name:
                    type: string
                  size:
                    type: integer
                    minimum: 0
                  mime:
                    type: string
              example:
                upload_id: upl_77ab
                url: https://app.clomni.ai/f/velo.jpg
                name: velo.jpg
                size: 482113
                mime: image/jpeg
        '400':
          $ref: '#/components/responses/ValidationFailed'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '413':
          $ref: '#/components/responses/FileTooLarge'
        '429':
          $ref: '#/components/responses/RateLimited'

  /users/me:
    get:
      tags: [User]
      operationId: getUser
      summary: The current user
      parameters:
        - $ref: '#/components/parameters/Sdk'
      responses:
        '200':
          description: The user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/Unauthorized'
    patch:
      tags: [User]
      operationId: updateUser
      summary: Update the current user
      description: Only the fields sent are changed. `custom_attributes` are merged into the existing ones.
      parameters:
        - $ref: '#/components/parameters/Sdk'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserUpdate'
            example:
              name: Aysel Məmmədova
              language: az
              custom_attributes:
                plan: premium
      responses:
        '200':
          description: The updated user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          $ref: '#/components/responses/ValidationFailed'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /devices:
    post:
      tags: [Devices]
      operationId: registerDevice
      summary: Register or refresh this device's push token
      description: Called on every new token (`onNewToken`, `didRegisterForRemoteNotifications`). A token that moves to
        another user leaves the previous one.
      parameters:
        - $ref: '#/components/parameters/Sdk'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceToken'
            example:
              token: fGz3k1QeR0-pushTokenFromFcm
              provider: fcm
              environment: production
      responses:
        '204':
          description: Stored
        '400':
          $ref: '#/components/responses/ValidationFailed'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /devices/{token}:
    delete:
      tags: [Devices]
      operationId: deleteDevice
      summary: Stop pushes to a token
      parameters:
        - $ref: '#/components/parameters/Sdk'
        - name: token
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Removed (also when it was not registered)
        '401':
          $ref: '#/components/responses/Unauthorized'

  /flows/trigger:
    post:
      tags: [Flows and events]
      operationId: triggerFlow
      summary: Start the flow bound to an app event
      description: |
        `Clomni.startFlow(event, data)`. Starts the inbox's flow for this event (for example `payment_failed`) in a new
        conversation. Its texts can use `{{data.*}}`, filled in on the server. With `open_messenger: true` the SDK opens
        that conversation on screen; otherwise it only shows a push or unread badge when the first message arrives.
        No flow for the event: `started: false`, nothing is created.
      parameters:
        - $ref: '#/components/parameters/Sdk'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [event]
              properties:
                event:
                  $ref: '#/components/schemas/EventName'
                data:
                  type: object
                open_messenger:
                  type: boolean
                  default: false
                opened_from:
                  description: Where in the app it was started, as with `POST /conversations`; `event:<event>` when absent.
                  allOf:
                    - $ref: '#/components/schemas/OpenedFrom'
            example:
              event: payment_failed
              data:
                order_id: A-1042
                amount: '12.50'
              open_messenger: true
      responses:
        '200':
          description: Whether a flow started
          content:
            application/json:
              schema:
                type: object
                required: [started, conversation]
                properties:
                  started:
                    type: boolean
                  conversation:
                    oneOf:
                      - type: 'null'
                      - $ref: '#/components/schemas/ConversationWithMessages'
        '400':
          $ref: '#/components/responses/ValidationFailed'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'

  /events:
    post:
      tags: [Flows and events]
      operationId: trackEvent
      summary: Record an app event for audiences
      description: Stored for audience conditions and analytics. It never starts a flow; that is `/flows/trigger`.
      parameters:
        - $ref: '#/components/parameters/Sdk'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [event]
              properties:
                event:
                  $ref: '#/components/schemas/EventName'
                data:
                  type: object
            example:
              event: ride_finished
              data:
                minutes: 18
      responses:
        '202':
          description: Accepted
        '400':
          $ref: '#/components/responses/ValidationFailed'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'

components:
  securitySchemes:
    app_id:
      type: apiKey
      in: header
      name: X-Clomni-App-Id
      description: The app's id (`app_` + 8 characters), shown on the App SDK inbox. Public.
    api_key:
      type: apiKey
      in: header
      name: X-Clomni-Api-Key
      description: The platform's public key (`android_sdk-…`, `ios_sdk-…`). It may be visible inside the app and is
        valid for the mobile endpoints only. After a rotation the old key keeps working for 7 days.
    session:
      type: http
      scheme: bearer
      description: '`session_token` from `/mobile/sessions`, valid 24 hours. `401 token_expired` → refresh and repeat.'

  parameters:
    Sdk:
      name: X-Clomni-SDK
      in: header
      required: true
      description: SDK platform and version, e.g. `android/1.0.0`, `ios/1.0.0`, `react-native/1.0.0`.
      schema:
        type: string
        pattern: '^[a-z-]+/[0-9A-Za-z.+-]+$'
      example: android/1.0.0
    ConversationId:
      name: conversation_id
      in: path
      required: true
      schema:
        type: string
        pattern: '^conv_.+'
      example: conv_5521

  schemas:
    PanelPushState:
      type: object
      properties:
        credentials:
          type: object
          properties:
            fcm:
              type: object
              properties:
                configured: { type: boolean }
                project_id: { type: string }
                client_email: { type: string }
                uploaded_at: { type: string, format: date-time }
                last_error: { type: string, description: 'The last refusal of the keys themselves (401/403)' }
                last_error_at: { type: string, format: date-time }
            apns:
              type: object
              properties:
                configured: { type: boolean }
                key_id: { type: string }
                team_id: { type: string }
                bundle_id: { type: string }
                uploaded_at: { type: string, format: date-time }
                last_error: { type: string }
                last_error_at: { type: string, format: date-time }
        last_7_days:
          type: object
          description: 'Per platform (ios, android): sent, failed, removed (dead tokens), skipped (no keys)'
          additionalProperties:
            type: object
            additionalProperties: { type: integer }
        devices:
          type: array
          description: 'Up to 20 devices with a push token, last seen first: what POST test can push. Never the token.'
          items:
            type: object
            properties:
              id: { type: integer, description: 'The device_id POST test takes' }
              platform: { $ref: '#/components/schemas/Platform' }
              model: { type: [string, 'null'] }
              os_version: { type: [string, 'null'] }
              app_version: { type: [string, 'null'] }
              sdk_version: { type: [string, 'null'] }
              locale: { type: [string, 'null'] }
              last_seen_at: { type: [string, 'null'], format: date-time }
              push_environment: { type: [string, 'null'], enum: [sandbox, production, null] }
    Language:
      enum: [az, en, ru]
    Platform:
      enum: [android, ios]
    OpenedFrom:
      type: string
      maxLength: 64
      description: The `source` passed to `Clomni.present(source)` or `startFlow`, shown in the inbox and analytics.
        `push` when opened from a notification.
    EventName:
      type: string
      pattern: '^[a-z][a-z0-9_]{0,63}$'
    Device:
      type: object
      required: [device_id, platform, sdk_version]
      properties:
        device_id:
          type: string
          minLength: 1
          maxLength: 128
          description: Generated by the SDK on first launch and kept on the device.
        platform:
          $ref: '#/components/schemas/Platform'
        os_version:
          type: string
        app_version:
          type: string
        sdk_version:
          type: string
        locale:
          type: string
        timezone:
          type: string
        model:
          type: string
        app_identifier:
          type: string
          maxLength: 255
          description: The app's own id, read by the SDK at runtime - iOS `Bundle.main.bundleIdentifier`, Android
            `packageName`. When the App SDK inbox has this platform's Bundle ID / package name set and this differs,
            the session is refused with `401 invalid_api_key`, so keys copied into another app do not work there.
    SessionRequest:
      type: object
      required: [device]
      properties:
        user:
          type: object
          description: Omitted for an anonymous visitor.
          anyOf:
            - required: [user_id]
            - required: [email]
          properties:
            user_id:
              type: string
              minLength: 1
            email:
              type: [string, 'null']
              format: email
            phone:
              type: [string, 'null']
            name:
              type: [string, 'null']
            user_hash:
              type: [string, 'null']
              pattern: '^[0-9a-f]{64}$'
        anonymous_id:
          type: string
          pattern: '^usr_.+'
          description: The anonymous user returned by an earlier session on this device.
        device:
          $ref: '#/components/schemas/Device'
    Session:
      type: object
      required: [session_token, expires_at, refresh_token, user, ws_url]
      properties:
        session_token:
          type: string
          pattern: '^st_.+'
        expires_at:
          type: string
          format: date-time
        refresh_token:
          type: string
          pattern: '^rt_.+'
        user:
          type: object
          required: [id, anonymous, language]
          properties:
            id:
              type: string
              pattern: '^usr_.+'
            anonymous:
              type: boolean
            language:
              oneOf:
                - type: 'null'
                - $ref: '#/components/schemas/Language'
        ws_url:
          type: string
          format: uri
      example:
        session_token: st_9d2f4c1e7a0b
        expires_at: '2026-10-02T10:30:00Z'
        refresh_token: rt_4c1e7a0b9d2f
        user:
          id: usr_12345
          anonymous: false
          language: az
        ws_url: wss://app.clomni.ai/v1/realtime
    Assignee:
      type: object
      description: The operator the conversation is assigned to. While there is none (a bot or flow answers), the
        conversation header shows `brand.name` and the logo, and a bot message's avatar is the logo; once set, the
        header shows this name and picture. A message's author is its `sender.type` (bot, operator).
      required: [name]
      properties:
        name:
          type: string
        avatar_url:
          type: [string, 'null']
          format: uri
        online:
          type: boolean
    Conversation:
      type: object
      required: [id, status, assignee, unread_count, last_message, created_at]
      properties:
        id:
          type: string
          pattern: '^conv_.+'
        status:
          enum: [bot, queued, open, closed]
          description: '`bot` while a flow runs, `queued` after a handover until an operator joins, `closed` when
            resolved. Writing into a closed conversation reopens it.'
        assignee:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/Assignee'
        unread_count:
          type: integer
          minimum: 0
        last_message:
          oneOf:
            - type: 'null'
            - $ref: './schema/message.json'
        flow:
          $ref: './schema/event.json#/$defs/conversation_flow'
        opened_from:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/OpenedFrom'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
          description: When anything shown here last changed (status, assignee, a message). Of two copies of the same
            conversation, e.g. a list page and a later `conversation.updated`, the client keeps the newer one.
      example:
        id: conv_5521
        status: bot
        assignee: null
        unread_count: 1
        last_message: null
        flow:
          active: true
          awaiting: menu
          flow_id: flw_apar_az
          node_id: S
        opened_from: profile_support
        created_at: '2026-10-01T10:30:00Z'
        updated_at: '2026-10-01T10:30:02.418Z'
    ConversationWithMessages:
      type: object
      required: [conversation, messages]
      properties:
        conversation:
          $ref: '#/components/schemas/Conversation'
        messages:
          type: array
          items:
            $ref: './schema/message.json'
    User:
      type: object
      required: [id, anonymous]
      properties:
        id:
          type: string
          pattern: '^usr_.+'
        anonymous:
          type: boolean
        name:
          type: [string, 'null']
        email:
          type: [string, 'null']
        phone:
          type: [string, 'null']
        language:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/Language'
        custom_attributes:
          type: object
      example:
        id: usr_12345
        anonymous: false
        name: Aysel Məmmədova
        email: aysel@example.com
        phone: null
        language: az
        custom_attributes:
          plan: premium
    UserUpdate:
      type: object
      minProperties: 1
      properties:
        name:
          type: [string, 'null']
          maxLength: 255
        email:
          type: [string, 'null']
          format: email
        phone:
          type: [string, 'null']
        language:
          $ref: '#/components/schemas/Language'
        custom_attributes:
          type: object
    DeviceToken:
      type: object
      required: [token, provider, environment]
      properties:
        token:
          type: string
          minLength: 1
          maxLength: 4096
        provider:
          enum: [fcm, apns]
        environment:
          enum: [production, sandbox]
          description: APNs only; FCM tokens are always `production`. A TestFlight build is `production`.
    Error:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message, request_id]
          properties:
            code:
              enum:
                - validation_failed
                - token_expired
                - invalid_token
                - invalid_api_key
                - identity_verification_failed
                - app_disabled
                - conversation_not_found
                - already_answered
                - stale_interaction
                - file_too_large
                - rate_limited
                - internal
                - not_found
                - method_not_allowed
                - payload_too_large
              description: New codes may be added within v1; a client treats an unknown code by its HTTP status.
            message:
              type: string
              description: For the developer's log, in English. Not shown to the user.
            request_id:
              type: string
            fields:
              type: object
              description: '`validation_failed` only: field → reason, e.g. a form field''s error.'
              additionalProperties:
                type: string

  responses:
    ValidationFailed:
      description: The request is malformed or a field is invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error:
              code: validation_failed
              message: phone is not a valid phone number
              request_id: req_5f2a
              fields:
                phone: invalid
    Unauthorized:
      description: The session token is missing, invalid or expired
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error:
              code: token_expired
              message: session token expired, refresh it
              request_id: req_5f2b
    InvalidApiKey:
      description: The app id or api key is wrong, revoked, or for another platform
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error:
              code: invalid_api_key
              message: api_key is wrong or not for this platform
              request_id: req_5f2c
    Forbidden:
      description: '`identity_verification_failed` (a wrong `user_hash` in `recommended` or `enforced` mode, or a missing
        one where it is required) or `app_disabled` (the inbox is switched off: the SDK hides the launcher and `present()`
        does nothing)'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error:
              code: identity_verification_failed
              message: user_hash is wrong, check identity_secret and user_id
              request_id: req_5f2d
    ConversationNotFound:
      description: No such conversation for this user
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error:
              code: conversation_not_found
              message: conversation not found
              request_id: req_5f2e
    Conflict:
      description: '`already_answered` or `stale_interaction`: disable the buttons and reload the message'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error:
              code: already_answered
              message: this message has already been answered
              request_id: req_5f2f
    FileTooLarge:
      description: Over 10 MB for an image or 25 MB for another file
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error:
              code: file_too_large
              message: file is larger than 25 MB
              request_id: req_5f30
    RateLimited:
      description: Over a rate limit; wait `Retry-After` seconds and repeat
      headers:
        Retry-After:
          schema:
            type: integer
            minimum: 1
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error:
              code: rate_limited
              message: too many requests
              request_id: req_5f31
